<div class="main">
    <div class="nav">
        <div class="logo">
            <img id="logo" src="../../../assets/logoPet.png" alt="">
        </div>
        <div class="titulo">
            <h2>Bienvenido, {{ usuarioName }} {{ usuarioLastName }}</h2>
        </div>
        <div class="logOut">
            <a (click)="returnLogin()">
                <img id="cerrarSesion"  src="../../../assets/logOut.webp" alt="">
            </a>
        </div>
    </div>

    <div class="content">
        <div class="userImage">

        </div>
        <div class="options">
            <button class="newProduct" (click)="registerProduct()">Registrar nuevo producto</button>
            <button class="control" (click)="goControl()">Control</button>
        </div>
    </div>
</div>

